<app-navebar></app-navebar>
<div align = "center">


<div class="img-fluid" style="background-image: url(../../assets/files/kisan10.jpg); 
-webkit-background-size: 100%;
-moz-background-size: 100%;
-o-background-size: 100%;
background-size: 100%;
padding-bottom:40%;
"
>
<body link="red">
    <!-- <a  [routerLink]="['/carlist.component.html']">{{'carlist'}}</a> -->
    <!-- <a  href="/farmerlist"><b>FarmerList</b></a> | <a href="/farmer"><b>Add Farmer</b></a> -->
  </body>
  </div>
</div>
<app-footer></app-footer>
